@import "~antd/dist/antd.less";

@primary-color: #2f54eb;
@tertiary-color: #1890ff;
@layout-sider-background: #f0f5ff;
@layout-body-background: #ffffff;
@layout-trigger-color: blue;
@menu-item-color: @primary-color;
@layout-trigger-color-light: blue;
@input-hover-border-color: black;
@tabs-horizontal-gutter: 42px;
@menu-item-active-bg: #d6e4ff;
@content-item-bg: white;
@container-bg: #cbcbcb;
@body-bg: rgb(255, 255, 255);

body {
    background-color: @body-bg;
}

.ant-layout, .ant-layout-footer {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: @body-bg;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: @body-bg;
}