@import "~antd/dist/antd.less";

@primary-color: #2f54eb;
@tertiary-color: #1890ff;
@layout-sider-background: #f0f5ff;
@layout-body-background: #ffffff;
@layout-trigger-color: blue;
@menu-item-color: @primary-color;
@layout-trigger-color-light: blue;
@input-hover-border-color: black;
@tabs-horizontal-gutter: 42px;
@primary-bg: #cbcbcb;
@body-bg: rgb(246, 246, 246);
@menu-item-active-bg: #d6e4ff;

body {
    background-color: @body-bg;
}