@import "App.less";

.grey {
    background-color: @menu-bg;
}

.navbar-container {
    height: 100%;
    position: absolute;
}

.all-height {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    overflow: auto;
}