@import "App.less";

.content {
  padding-top: 0;
}

.content-container {
  padding: 1rem;
  margin-top: 1rem;
  background-color: @content-item-bg;
}

.custom-row {
  display: "flex";
  align-items: "center";
  margin-bottom: 5;
  gap: 20;
}

.modal-content {
  gap: 10px;
  display: flex;
  justify-content: flex-start;
}

.vertical-flex {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
}

@media only screen and (min-width: 1000px) {
  .flex {
    flex-direction: row !important;
  }
  .side-objetives {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .flex {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
  .side-objetives {
    margin-left: 0px;
  }
}
